
install_prodigal() {
  local version=$1
  local install_path=$2

  install_direct_download "${install_path}" https://github.com/hyattpd/Prodigal/releases/download/v${version}/prodigal.linux prodigal \
  && chmod -R 755 "${install_path}"

  return $?
}
