

install_rnammer() {
  local version=$1
  local install_path=$2
  local hmmsearch_location=$3

  local archive=rnammer-"${version}".src.tar.Z

  install_archive "${install_path}" "/tmp/${archive}" \
  && sed -i 's:/usr/cbs/bio/src/rnammer-'"${version}"':'"${install_path}"':g' "${install_path}/rnammer" \
  && sed -i 's:/usr/cbs/bio/bin/linux64/hmmsearch:'"${hmmsearch_location}"':g' "${install_path}/rnammer"

  return $?
}

