
install_tbl2asn() {
  local install_path=$1

  mkdir -p ${install_path} \
  && download_unzip ${install_path} ftp://ftp.ncbi.nih.gov/toolbox/ncbi_tools/converters/by_program/tbl2asn/linux64.tbl2asn.gz tbl2asn.gz \
  && chmod -R 755 ${install_path}

  return $?
}

install_prodigal() {
  local version=$1
  local install_path=$2

  install_direct_download "${install_path}" https://github.com/hyattpd/Prodigal/releases/download/v${version}/prodigal.linux prodigal \
  && chmod -R 755 "${install_path}"

  return $?
}
