tmp_dir() {
 local dir=$(mktemp -d -t basher-XXXXXXXXXX)
 echo $dir
}

install_archive() {
  local directory=$1
  local archive=$2

  mk_cd_dir "${directory}" && unarchive "${archive}"
  return $?

}

install_direct_download() {
  local directory=$1
  local url=$2
  local archive=$3

  mk_cd_dir "${directory}" \
  && download "${url}" "${archive}"
}

download_unarchive() {
  local directory=$1
  local url=$2
  local archive=$3

  mk_cd_dir "${directory}" \
    && download "${url}" "${archive}" \
    && unarchive "${archive}"
  return $?
}

download_unzip() {
  local directory=$1
  local url=$2
  local archive=$3

  mk_cd_dir "${directory}" \
    && download "${url}" "${archive}" \
    && gunzip "${archive}"
  return $?

}
mk_cd_dir() {
  local directory=$1

  mkdir -p "${directory}" && cd "${directory}"

  return $?
}

download() {
  local url=$1
  local archive=$2

  wget --no-check-certificate --progress=dot:giga "${url}" -O "${archive}"
  return $?
}

unarchive() {
  local archive=$1

  tar xf "${archive}" && rm "${archive}"
  return $?
}

apt_install_cleanly() {
  apt_install "${@}" \
  && apt_purge
}

apt_install() {
  export DEBIAN_FRONTEND=noninteractive

  ( fast_mode || apt-get update ) \
  && apt-get install -y -qq "${@}" \
  && ( fast_mode || apt-get clean ) \
  && ( fast_mode || rm -rf /var/lib/apt/lists/* )
  return $?  
}

apt_purge() {
  export DEBIAN_FRONTEND=noninteractive

  apt-get purge -y -qq "${@}"  \
  && ( fast_mode || apt-get -y -qq autoremove )
}

basher_setup() {
  fast_mode && apt-get update
  apt_install wget apt-utils
}

fast_mode() {
  [[ "${BASHER_FAST}" == "true" || "${BASHER_FAST}" == "TRUE" ]] && return 0
  return 1
}

configure_make_install() {
  local build_dir=$1; shift

  cd "${build_dir}" \
  && ./configure  "${@}" \
  && make \
  && make install
  return $?
}

download_configure_make_install() {
  local url=$1; shift
  local archive=$1; shift
  local build_dir=$1; shift
  local temp_dir=$(tmp_dir)

  download_unarchive "${temp_dir}" "${url}" "${archive}" \
  && configure_make_install "${temp_dir}/${build_dir}" "${@}" \
  && rm -rf "${temp_dir}"
  return $?
}

git_clone() {
  local directory=$1
  local url=$2
  local branch=$3

  local base=$(basename "${directory}")
  local parent=$(dirname "${directory}")

  mkdir -p ${parent} \
  && cd ${parent} \
  && git clone "${url}" "${base}" \
  && ( [[ "$branch" == "master" ]] || ( cd "${base}" && git checkout $branch ) )

  return $?
}

add_environment() {
  for i in "${@}"; do
    echo export "$i" >> /etc/docker-basher.rc
  done
}

add_to_path() {
  local to_add=""

  if [[ ! -z "${DOCKER_BASHER_NO_PATH}" ]]; then
    return 0
  fi
  if [ $# -gt 1 ]; then
    for i in "${@}"; do
      to_add="${to_add}":$i
    done
  else
    to_add=$1
  fi
  add_environment "PATH=${to_add}:\$PATH"
}

replace_dir_with_link() {
  local directory=$1
  local link=$2

  rm -rf "${directory}" \
  && ln -s "${link}" "${directory}"

  return $?
}
