

install_samtools() {
  local version=$2
  local install_path=$1

  local archive=samtools-${version}.tar.bz2
  local url=https://sourceforge.net/projects/samtools/files/samtools/${version}/${archive}/download

  apt_install lbzip2 zlib1g libbz2-1.0 libncurses5 liblzma5 build-essential zlib1g-dev libncurses5-dev libbz2-dev liblzma-dev \
  && download_unarchive "${install_path}" "${url}" "${archive}" \
  && chmod 755 "${install_path}/samtools-${version}" \
  && cd "${install_path}/samtools-${version}" \
  && make \
  && apt_purge lbzip2 build-essential zlib1g-dev libncurses5-dev libbz2-dev liblzma-dev \
  && add_to_path "${install_path}/samtools-${version}"

  return $?
}

