

install_signalp() {
  # Only works for signalp 5...
  local install_path=$1
  local version=$2

  local archive=signalp-"${version}".Linux.tar.gz

  install_archive "${install_path}" "/tmp/${archive}" \
  && add_to_path "/opt/signalp-${version}/bin"

  return $?
}

